.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  max-height: 21rem;
  animation: slide-down 1000ms ease-out forwards;
  z-index: 1000 !important;
}

.cart h4 {
  padding: 1rem 2rem;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.items {
  scroll-behavior: smooth;
  height: 15rem;
  overflow-y: scroll;
}

.total {
  margin: .4rem 1rem .4rem 2rem;
  font-size: .6rem;
  opacity: .7;
}

.checkoutBtn {
  margin: 0 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-weight: 700;
  opacity: 1;
  cursor: auto;
  border-radius: .5rem;
}

.checkoutBtn:hover {
  opacity: .8;
}

.emptyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
  font-weight: 700;
}

/* ANIMATION */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(-5rem);
    
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 375px) {
  .cart {
    max-height: 17rem;
  }
}