.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.cart h2 {
  padding: 1rem 2rem;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.items {
  scroll-behavior: smooth;
  max-height: 15rem; 
  overflow-y: scroll;
}

.cart .main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.closeButton button {
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton button img:hover {
  border-color: transparent;
}

.checkoutBtn {
  margin: 0 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-weight: 700;
  opacity: 1;
  cursor: auto;
}

.checkoutBtn:hover {
  opacity: .8;
}