.form {
  margin: 1rem 0 1rem 2rem;
  font-size: 1rem;
  max-height: 10rem;
}

.form .scroll {
  overflow-y: scroll;
  height: 6rem;
}

.control {
  margin-bottom: .6rem;
}

.control label {
  font-weight: bold;
  opacity: .6;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid rgba(93, 76, 63, 0.6);
  border-radius: 4px;
  width: 20.3rem;
  max-width: 100%;
  outline: none;
}

.btnActions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 1rem 0;
  gap: 2rem;
}

.btnActions button {
  font: inherit;
  color: hsl(26, 100%, 55%);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: .7rem;
  padding: 0.5rem 2rem;
}

.btnActions .submit {
  border: 1px solid hsl(26, 100%, 55%);
  background-color: hsl(26, 100%, 55%);
  color: white;
}

.btnActions .cancel:hover,
.btnActions .cancel:active,
.btnActions .submit:hover,
.btnActions .submit:active {
  background-color: hsla(26, 100%, 55%, .8);
  border: hsla(26, 100%, 55%, .8);
  color: #fff;
}

.invalid label {
  color: hsl(26, 100%, 55%);
}

.invalid input {
  border-color: hsla(26, 100%, 55%, .8);
  background-color: hsla(26, 100%, 55%);
  background-image: linear-gradient(to right, rgb(255, 255, 255), hsla(26, 100%, 55%, .8));
}