.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -4rem;
  max-width: 26.5rem;
  
}

.product_info {
  display: flex;
  flex-direction: column;
}

.product_info h4 {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  
}

.product_info h2 {
  font-size: 2.35rem;
  animation: slide-down 1000ms ease-out forwards;
}

.product_info p {
  margin: 1rem 0;
  font-size: .8rem;
  word-spacing: .3rem;
  line-height: 1rem;
  opacity: .6;
  animation: slide-down 1000ms ease-out forwards;
}

.pricing_info h4 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  
}

.pricing_info h4 span {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-size: .7rem;
  margin-left: .5rem;
  padding: .2rem;
  border-radius: .3rem;
  
}

.pricing_info p {
  font-size: .7rem;
  opacity: .6;
  margin-bottom: 2rem;
  margin-top: .5em;
  text-decoration: line-through;
}

/* ANIMATION */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(0);
    
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1100px) {
  .aside {
    margin-left: -2rem;
    margin-right: -4rem;
    width: 100%;
  }

  .product_info {
    width: 100%;
  }

  .product_info h2 {
    font-size: 2rem;
  }

  .product_info p {
    font-size: .7rem;
  }

  @media (max-width: 730px) {
    .aside {
      flex-direction: column;
      margin-left: 0;
    }

    .pricing_info {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1rem 0;
    }
  }

  @media (max-width: 375px) {
    .aside {
      position: absolute;
      top: 25rem;
      margin: 0 1rem;
      width: 22rem;
    }

    .product_info p {
      font-size: .9rem;
    }

    .pricing_info {
      justify-content: space-between;
    }
  }

  .pricing_info h4,
  .pricing_info p {
    margin-bottom: 0;
    padding: 0;
    font-weight: 700;
  }

}