.nav {
  display: flex;
}

.nav li{
  list-style-type: none;
}

.nav li a {
  cursor: pointer;
  text-decoration: none;
  padding: 2rem 1rem;
}

.nav li a:hover {
  border-bottom: 5px solid hsl(26, 100%, 55%); 
}

