.nav {
  display: flex;
}

.nav li {
  list-style-type: none;
}

.nav li a {
  cursor: pointer;
  text-decoration: none;
  padding: 2rem 1rem;
}

.nav li a:hover {
  border-bottom: 5px solid hsl(26, 100%, 55%);
}

/* MOBILE NAVIGATION */
.mobileNav {
  height: 100vh;
  width: 50%;
  background: #fff;
  z-index: 100;
}

.mobileNav button {
  margin-top: 2rem;
  margin-left: 2rem;
}

.mobileNav .MNav {
  margin-top: 1rem;
}

.closeBtn button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.closeBtn button svg:hover path {
  fill: hsl(0, 0%, 6%)
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100vh;
  z-index: 500;
  background-color: hsla(0, 0%, 0%, 0.75);
}

/*  */
@media (max-width: 620px) {
  .nav {
    flex-direction: column;
    margin-left: 2rem;
  }

  .nav li {
    padding: 1rem 0rem;
  }

  .nav li a {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 0;
  }

  .nav li a:hover {
    border: none;
  }
}