.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8rem;
  padding: 3rem 0;
  border-bottom: 1px solid hsl(0, 0%, 87%);
  height: 2rem;
  z-index: 2;
}

.header_a,
.header_b {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cart {
  display: relative;
}

.cartItems {
  position: absolute;
  top: 5rem;
  right: 8rem;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #fff;
  z-index: 100;
}

.header_b .btnIcon {
  position: relative;
  color: hsl(219, 9%, 45%);
  margin-right: -1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header_b .btnIcon span {
  position: absolute;
  top: -.3rem;
  left: .8rem;
  background-color: hsl(26, 100%, 55%);
  font-size: .5rem;
  padding: .2rem .5rem;
  border-radius: 8rem;
  color: hsl(0, 0%, 100%);
}

.header img {
  width: 2.5rem;
  aspect-ratio: 1;
  margin-left: 2rem;
  border-radius: 50%;
  border: 3px solid transparent;
}

.header img:hover {
  border-color: hsl(26, 100%, 55%);
}