.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8rem;
  padding: 3rem 0;
  border-bottom: 1px solid hsl(0, 0%, 87%);
  height: 2rem;
  z-index: 2;
}

.header_a,
.header_b {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cart {
  display: relative;
}

.cartItems {
  position: absolute;
  top: 5rem;
  right: 8rem;
  width: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #fff;
  z-index: 100;
}

.header_b .btnIcon {
  color: hsl(219, 9%, 45%);
  position: relative;
  background-color: transparent;
  border: none;
}

.header_b .btnIcon span {
  position: relative;
  top: -1rem;
  right: 1rem;
  background-color: hsl(26, 100%, 55%);
  font-size: .5rem;
  padding: .2rem .5rem;
  border-radius: 8rem;
  color: hsl(0, 0%, 100%);
}

.header img {
  width: 2.5rem;
  aspect-ratio: 1;
  margin-left: 1.5rem;
  border-radius: 50%;
  border: 3px solid transparent;
}

.header img:hover {
  border-color: hsl(26, 100%, 55%);
}