.nextBtn {
  position: absolute;
  top: 14.5rem;
  right: -1rem;
  transform: rotate(180deg);
}

.prevBtn {
  position: absolute;
  top: 14.5rem;
  left: -1rem;
  transform: rotate(180deg);
}


.prevBtn button,
.nextBtn button,
.prevBtnN button,
.nextBtnN button 
{
  border: none;
  cursor: pointer;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.svg:hover path {
  stroke: hsl(26, 100%, 55%);
}

/* MOBILE SLIDER */
.nextBtnN {
  position: absolute;
  top: 13.5rem;
  right: 2.5rem;
  transform: rotate(180deg);
}

.prevBtnN {
  position: absolute;
  top: 13.5rem;
  left: 2.5rem;
  transform: rotate(180deg);
}
